@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background-color: #3c3363;
  padding: 0;
  color:white;
}
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}
body{
  overflow-x: hidden; /* Hide horizontal scrollbar */
}
.userData{
  display: grid;
  /* align-items: center; */
  grid-template-columns: auto auto auto;
  grid-gap:0em;
  margin-left: 6%;
  margin-top: 2%;
}
.userData li{
  list-style-type: none;
  /* border: 1px solid gold;  */
}
.userData img{
  margin-left: 9%;
  width: 35%;
  border-radius: 10%;
}
.userData img:hover{
  opacity: 0.5;
}
.mail{
  color:gold;
  font-family: 'MedievalSharp', cursive;
}

.name{
  margin-left: 5%;
  font-family: 'Abril Fatface', cursive;
  font-size: 1.2rem;
}
.spin{
  align-items: center;
  margin-left: 50%;
}
