.nav{
    color:white;
    margin:0; 
    padding: 0;
    /* display: inline; */
    /* border-bottom: 1px dotted gray; */
}
a{
    text-decoration: none;
}
.navbrand{
    margin-top: 3%;
    margin-left: 2%;
    font-size: 2.5rem;
    /* text-decoration: underline; */
    font-family:'Times New Roman', Times, serif;
    cursor: pointer;
}
.navbrand:hover{
    color:gold !important;
}

.nav a{
    color:white;
    display: inline-block;
    margin-right: 10%;
}
.links{
    float: right;
    /* margin-left:5%; */
    width: 40%;
    /* border: 1px solid rgb(167, 157, 157); */
    margin-top: 4%;
    font-size: 1rem !important ;
    cursor: pointer;
}
.links a:hover{
    color:gold;
}